# ScoreHub
In this notebook we are...

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests

In [2]:
!pip install bs4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\rich7648\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\rich7648\appdata\roaming\python\python39\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rich7648\appdata\roaming\python\python39\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

In [3]:
!pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\users\rich7648\appdata\roaming\python\python39\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rich7648\appdata\roaming\python\python39\site-packages (from beautifulsoup4) (2.3.2.post1)

In [4]:
from bs4 import BeautifulSoup

## Webscrapping
On the site we see that there is info on 6 European leagues:
* La Liga
* EPL
* BundesLiga
* Serie A
* Ligue 1
* RFPL

We are only interested on gathering data for the EPL league.

In [5]:
# create urls for all seasons of all leagues
base_url = 'https://understat.com/league'
leagues = ['La_liga', 'EPL', 'Bundesliga', 'Serie_A', 'Ligue_1', 'RFPL']
#seasons = ['2014', '2015', '2016', '2017', '2018']
seasons = ['2018','2019','2020', '2021', '2022']

In [6]:
# Starting with latest data for Spanish league, because I'm a Barcelona fan
url = base_url+'/'+leagues[0]+'/'+seasons[4]
res = requests.get(url)
soup = BeautifulSoup(res.content, "lxml")

# Based on the structure of the webpage, I found that data is in the JSON variable, under <script> tags
scripts = soup.find_all('script')

# Check our <script> tags
# for el in scripts:
#   print('*'*50)
#   print(el.text)

In [7]:
# Extract the json
import json

string_with_json_obj = ''

# Find data for teams
for el in scripts:
    if 'teamsData' in str(el):
      string_with_json_obj = str(el).strip()
      
# print(string_with_json_obj)

# strip unnecessary symbols and get only JSON data
ind_start = string_with_json_obj.index("('")+2
ind_end = string_with_json_obj.index("')")
json_data = string_with_json_obj[ind_start:ind_end]

json_data = json_data.encode('utf8').decode('unicode_escape')

In [8]:
# convert JSON data into Python dictionary
data = json.loads(json_data)
print(data.keys())
print('='*50)
print(data['138'].keys())
print('='*50)
print(data['138']['id'])
print('='*50)
print(data['138']['title'])
print('='*50)
print(data['138']['history'][0])

# Print pretty JSON data to check out what we have there
# s = json.dumps(data, indent=4, sort_keys=True)
# print(s)

dict_keys(['138', '140', '141', '142', '143', '145', '146', '147', '148', '150', '152', '153', '154', '157', '207', '208', '223', '231', '239', '261'])
==================================================
dict_keys(['id', 'title', 'history'])
==================================================
138
==================================================
Sevilla
==================================================
{'h_a': 'a', 'xG': 0.965574, 'xGA': 1.35571, 'npxG': 0.965574, 'npxGA': 0.612433, 'ppda': {'att': 142, 'def': 20}, 'ppda_allowed': {'att': 347, 'def': 22}, 'deep': 8, 'deep_allowed': 4, 'scored': 1, 'missed': 2, 'xpts': 0.9575999999999999, 'result': 'l', 'date': '2022-08-12 19:00:00', 'wins': 0, 'draws': 0, 'loses': 1, 'pts': 0, 'npxGD': 0.35314100000000004}

In [9]:
# Get teams and their relevant ids and put them into separate dictionary
teams = {}
for id in data.keys():
  teams[id] = data[id]['title']

In [10]:
# EDA to get a feeling of how the JSON is structured
# Column names are all the same, so we just use first element
columns = []
# Check the sample of values per each column
values = []
for id in data.keys():
  columns = list(data[id]['history'][0].keys())
  values = list(data[id]['history'][0].values())
  break

print(columns)
print(values)

['h_a', 'xG', 'xGA', 'npxG', 'npxGA', 'ppda', 'ppda_allowed', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'result', 'date', 'wins', 'draws', 'loses', 'pts', 'npxGD']
['a', 0.965574, 1.35571, 0.965574, 0.612433, {'att': 142, 'def': 20}, {'att': 347, 'def': 22}, 8, 4, 1, 2, 0.9575999999999999, 'l', '2022-08-12 19:00:00', 0, 0, 1, 0, 0.35314100000000004]

In [11]:
sevilla_data = []
for row in data['138']['history']:
  sevilla_data.append(list(row.values()))
  
df = pd.DataFrame(sevilla_data, columns=columns)
df.head(2)

,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD
0,a,0.965574,1.355710,0.965574,0.612433,"{'att': 142, 'def': 20}","{'att': 347, 'def': 22}",8,4,1,2,0.9576,l,2022-08-12 19:00:00,0,0,1,0,0.353141
1,h,1.951150,0.557629,1.951150,0.557629,"{'att': 159, 'def': 32}","{'att': 251, 'def': 21}",4,1,1,1,2.4412,d,2022-08-19 20:00:00,0,1,0,1,1.393521

In [12]:
# Getting data for all teams
dataframes = {}
for id, team in teams.items():
  teams_data = []
  for row in data[id]['history']:
    teams_data.append(list(row.values()))
    
  df = pd.DataFrame(teams_data, columns=columns)
  dataframes[team] = df
  print('Added data for {}.'.format(team))

Added data for Sevilla.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Rayo Vallecano.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Real Madrid.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Osasuna.
Added data for Elche.
Added data for Almeria.
Added data for Girona.
Added data for Real Valladolid.
Added data for Mallorca.
Added data for Cadiz.

In [13]:
# Sample check of our newly created DataFrame
dataframes['Barcelona'].head(5)

,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD
0,h,1.37129,0.771530,1.37129,0.771530,"{'att': 146, 'def': 33}","{'att': 351, 'def': 30}",11,3,0,0,1.8110,d,2022-08-13 19:00:00,0,1,0,1,0.599760
1,a,2.04035,0.799130,2.04035,0.799130,"{'att': 218, 'def': 26}","{'att': 341, 'def': 28}",9,4,4,1,2.2957,w,2022-08-21 20:00:00,1,0,0,3,1.241220
2,h,3.28674,0.720063,3.28674,0.720063,"{'att': 182, 'def': 24}","{'att': 295, 'def': 13}",21,2,4,0,2.7808,w,2022-08-28 17:30:00,1,0,0,3,2.566677
3,a,4.67838,0.829157,4.67838,0.829157,"{'att': 202, 'def': 23}","{'att': 237, 'def': 31}",8,8,3,0,2.9625,w,2022-09-03 19:00:00,1,0,0,3,3.849223
4,a,2.66856,0.248180,2.66856,0.248180,"{'att': 99, 'def': 17}","{'att': 297, 'def': 25}",9,1,4,0,2.8680,w,2022-09-10 16:30:00,1,0,0,3,2.420380

## Manipulating the data

In [14]:
for team, df in dataframes.items():
  dataframes[team]['ppda_coef'] = dataframes[team]['ppda'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
  dataframes[team]['oppda_coef'] = dataframes[team]['ppda_allowed'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
  
# And check how our new dataframes look based on Sevilla dataframe
dataframes['Sevilla'].head(2)

,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,scored,...,xpts,result,date,wins,draws,loses,pts,npxGD,ppda_coef,oppda_coef
0,a,0.965574,1.355710,0.965574,0.612433,"{'att': 142, 'def': 20}","{'att': 347, 'def': 22}",8,4,1,...,0.9576,l,2022-08-12 19:00:00,0,0,1,0,0.353141,7.10000,15.772727
1,h,1.951150,0.557629,1.951150,0.557629,"{'att': 159, 'def': 32}","{'att': 251, 'def': 21}",4,1,1,...,2.4412,d,2022-08-19 20:00:00,0,1,0,1,1.393521,4.96875,11.952381

In [15]:
cols_to_sum = ['xG', 'xGA', 'npxG', 'npxGA', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'wins', 'draws', 'loses', 'pts', 'npxGD']
cols_to_mean = ['ppda_coef', 'oppda_coef']

In [16]:
frames = []
for team, df in dataframes.items():
  sum_data = pd.DataFrame(df[cols_to_sum].sum()).transpose()
  mean_data = pd.DataFrame(df[cols_to_mean].mean()).transpose()
  final_df = sum_data.join(mean_data)
  final_df['team'] = team
  final_df['matches'] = len(df)
  frames.append(final_df)
  
full_stat = pd.concat(frames)

In [17]:
# Next we reorder columns for better readability, sort rows based on points, reset index and add column 'position'.
full_stat = full_stat[['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'npxG', 'xGA', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts']]
full_stat.sort_values('pts', ascending=False, inplace=True)
full_stat.reset_index(inplace=True, drop=True)
full_stat['position'] = range(1,len(full_stat)+1)

In [18]:
# Also in the original table we have values of differences between expected metrics and real. Let's add those too.
full_stat['xG_diff'] = full_stat['xG'] - full_stat['scored']
full_stat['xGA_diff'] = full_stat['xGA'] - full_stat['missed']
full_stat['xpts_diff'] = full_stat['xpts'] - full_stat['pts']

In [19]:
# Converting floats to integers where apropriate
cols_to_int = ['wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'deep', 'deep_allowed']
full_stat[cols_to_int] = full_stat[cols_to_int].astype(int)

In [20]:
# Prettifying output and final view of a DataFrame
col_order = ['position','team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'xG_diff', 'npxG', 'xGA', 'xGA_diff', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts', 'xpts_diff']
full_stat = full_stat[col_order]
pd.options.display.float_format = '{:,.2f}'.format
full_stat.head(10)

,position,team,matches,wins,draws,loses,scored,missed,pts,xG,...,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,1,Real Madrid,11,10,1,0,28,9,31,24.58,...,10.10,1.10,9.36,12.12,13.62,20.29,104,58,24.27,-6.73
1,2,Barcelona,11,9,1,1,28,4,28,29.26,...,7.87,3.87,7.13,22.14,7.21,19.03,117,43,25.85,-2.15
2,3,Atletico Madrid,11,7,2,2,18,9,23,15.51,...,13.29,4.29,12.55,2.95,15.66,11.67,71,59,16.19,-6.81
3,4,Real Sociedad,11,7,1,3,16,13,22,19.46,...,11.69,-1.31,10.95,7.77,6.75,11.92,73,48,20.57,-1.43
4,5,Real Betis,11,6,2,3,14,8,20,17.56,...,13.67,5.67,13.67,1.66,11.81,11.57,56,71,17.32,-2.68
5,6,Athletic Club,11,5,3,3,19,12,18,19.36,...,9.01,-2.99,9.01,8.12,11.13,12.48,80,53,21.87,3.87
6,7,Villarreal,11,5,3,3,14,7,18,17.80,...,13.61,6.61,13.61,3.45,12.06,10.55,78,54,18.69,0.69
7,8,Osasuna,11,5,2,4,11,11,17,16.12,...,13.83,2.83,11.60,1.54,13.04,10.82,64,48,16.32,-0.68
8,9,Rayo Vallecano,11,4,3,4,16,14,15,14.32,...,14.50,0.50,14.50,-2.41,8.54,14.09,66,45,15.25,0.25
9,10,Valencia,11,4,3,4,18,13,15,20.14,...,12.49,-0.51,10.26,6.16,7.15,12.58,60,46,20.33,5.33

## Scrapping the data for all the teams

In [21]:
season_data = dict()
season_data[seasons[4]] = full_stat
print(season_data)
full_data = dict()
full_data[leagues[0]] = season_data
print(full_data)

{'2022':     position             team  matches  wins  draws  loses  scored  missed  \
0          1      Real Madrid       11    10      1      0      28       9
1          2        Barcelona       11     9      1      1      28       4
2          3  Atletico Madrid       11     7      2      2      18       9
3          4    Real Sociedad       11     7      1      3      16      13
4          5       Real Betis       11     6      2      3      14       8
5          6    Athletic Club       11     5      3      3      19      12
6          7       Villarreal       11     5      3      3      14       7
7          8          Osasuna       11     5      2      4      11      11
8          9   Rayo Vallecano       11     4      3      4      16      14
9         10         Valencia       11     4      3      4      18      13
10        11  Real Valladolid       11     4      2      5      11      15
11        12         Mallorca       12     3      4      5      10      13
12        13       Celta Vigo       11     3      2      6      12      21
13        14         Espanyol       12     2      5      5      15      20
14        15          Almeria       11     3      1      7      12      19
15        16          Sevilla       11     2      4      5      11      18
16        17           Getafe       11     2      4      5      11      19
17        18           Girona       11     2      3      6      15      19
18        19            Cadiz       11     1      4      6       5      22
19        20            Elche       11     0      4      7       8      26

    pts    xG  ...   xGA  xGA_diff  npxGA  npxGD  ppda_coef  oppda_coef  deep  \
0    31 24.58  ... 10.10      1.10   9.36  12.12      13.62       20.29   104
1    28 29.26  ...  7.87      3.87   7.13  22.14       7.21       19.03   117
2    23 15.51  ... 13.29      4.29  12.55   2.95      15.66       11.67    71
3    22 19.46  ... 11.69     -1.31  10.95   7.77       6.75       11.92    73
4    20 17.56  ... 13.67      5.67  13.67   1.66      11.81       11.57    56
5    18 19.36  ...  9.01     -2.99   9.01   8.12      11.13       12.48    80
6    18 17.80  ... 13.61      6.61  13.61   3.45      12.06       10.55    78
7    17 16.12  ... 13.83      2.83  11.60   1.54      13.04       10.82    64
8    15 14.32  ... 14.50      0.50  14.50  -2.41       8.54       14.09    66
9    15 20.14  ... 12.49     -0.51  10.26   6.16       7.15       12.58    60
10   14 11.72  ... 17.79      2.79  16.31  -6.08      10.86        8.54    47
11   13 14.18  ... 12.93     -0.07   9.96   2.00      14.99        9.60    46
12   11 11.27  ... 14.40     -6.60  11.30  -1.51       9.94       11.83    57
13   11 16.07  ... 15.80     -4.20  15.80  -1.22      12.44       10.39    60
14   10 10.82  ... 20.78      1.78  18.55  -7.73      15.74       12.30    44
15   10 11.49  ... 22.56      4.56  20.33  -8.84       9.51       13.24    64
16   10  9.32  ... 15.36     -3.64  13.88  -6.04      17.51        9.74    27
17    9 14.59  ... 14.66     -4.34  13.17  -1.55       9.84       13.11    59
18    7  7.69  ... 25.29      3.29  21.57 -13.88      15.04        8.41    31
19    4  7.34  ... 28.97      2.97  25.25 -18.66      16.52        7.88    40

    deep_allowed  xpts  xpts_diff
0             58 24.27      -6.73
1             43 25.85      -2.15
2             59 16.19      -6.81
3             48 20.57      -1.43
4             71 17.32      -2.68
5             53 21.87       3.87
6             54 18.69       0.69
7             48 16.32      -0.68
8             45 15.25       0.25
9             46 20.33       5.33
10            82 11.29      -2.71
11            69 17.82       4.82
12            32 13.02       2.02
13            74 16.67       5.67
14            95  9.21      -0.79
15            60  8.57      -1.43
16            66 10.12       0.12
17            59 15.00       6.00
18            77  5.09      -1.91
19           105  5.45       1.45

[20 rows x 22 columns]}
{'La_liga': {'2022':     position             team  matches  wins  draws  loses  scored  missed  \
0          1      Real Madrid       11    10      1      0      28       9
1          2        Barcelona       11     9      1      1      28       4
2          3  Atletico Madrid       11     7      2      2      18       9
3          4    Real Sociedad       11     7      1      3      16      13
4          5       Real Betis       11     6      2      3      14       8
5          6    Athletic Club       11     5      3      3      19      12
6          7       Villarreal       11     5      3      3      14       7
7          8          Osasuna       11     5      2      4      11      11
8          9   Rayo Vallecano       11     4      3      4      16      14
9         10         Valencia       11     4      3      4      18      13
10        11  Real Valladolid       11     4      2      5      11      15
11        12         Mallorca       12     3      4      5      10      13
12        13       Celta Vigo       11     3      2      6      12      21
13        14         Espanyol       12     2      5      5      15      20
14        15          Almeria       11     3      1      7      12      19
15        16          Sevilla       11     2      4      5      11      18
16        17           Getafe       11     2      4      5      11      19
17        18           Girona       11     2      3      6      15      19
18        19            Cadiz       11     1      4      6       5      22
19        20            Elche       11     0      4      7       8      26

    pts    xG  ...   xGA  xGA_diff  npxGA  npxGD  ppda_coef  oppda_coef  deep  \
0    31 24.58  ... 10.10      1.10   9.36  12.12      13.62       20.29   104
1    28 29.26  ...  7.87      3.87   7.13  22.14       7.21       19.03   117
2    23 15.51  ... 13.29      4.29  12.55   2.95      15.66       11.67    71
3    22 19.46  ... 11.69     -1.31  10.95   7.77       6.75       11.92    73
4    20 17.56  ... 13.67      5.67  13.67   1.66      11.81       11.57    56
5    18 19.36  ...  9.01     -2.99   9.01   8.12      11.13       12.48    80
6    18 17.80  ... 13.61      6.61  13.61   3.45      12.06       10.55    78
7    17 16.12  ... 13.83      2.83  11.60   1.54      13.04       10.82    64
8    15 14.32  ... 14.50      0.50  14.50  -2.41       8.54       14.09    66
9    15 20.14  ... 12.49     -0.51  10.26   6.16       7.15       12.58    60
10   14 11.72  ... 17.79      2.79  16.31  -6.08      10.86        8.54    47
11   13 14.18  ... 12.93     -0.07   9.96   2.00      14.99        9.60    46
12   11 11.27  ... 14.40     -6.60  11.30  -1.51       9.94       11.83    57
13   11 16.07  ... 15.80     -4.20  15.80  -1.22      12.44       10.39    60
14   10 10.82  ... 20.78      1.78  18.55  -7.73      15.74       12.30    44
15   10 11.49  ... 22.56      4.56  20.33  -8.84       9.51       13.24    64
16   10  9.32  ... 15.36     -3.64  13.88  -6.04      17.51        9.74    27
17    9 14.59  ... 14.66     -4.34  13.17  -1.55       9.84       13.11    59
18    7  7.69  ... 25.29      3.29  21.57 -13.88      15.04        8.41    31
19    4  7.34  ... 28.97      2.97  25.25 -18.66      16.52        7.88    40

    deep_allowed  xpts  xpts_diff
0             58 24.27      -6.73
1             43 25.85      -2.15
2             59 16.19      -6.81
3             48 20.57      -1.43
4             71 17.32      -2.68
5             53 21.87       3.87
6             54 18.69       0.69
7             48 16.32      -0.68
8             45 15.25       0.25
9             46 20.33       5.33
10            82 11.29      -2.71
11            69 17.82       4.82
12            32 13.02       2.02
13            74 16.67       5.67
14            95  9.21      -0.79
15            60  8.57      -1.43
16            66 10.12       0.12
17            59 15.00       6.00
18            77  5.09      -1.91
19           105  5.45       1.45

[20 rows x 22 columns]}}

## Loops to get all the data

In [23]:
full_data = dict()
for league in leagues:
  
  season_data = dict()
  for season in seasons:    
    url = base_url+'/'+league+'/'+season
    res = requests.get(url)
    soup = BeautifulSoup(res.content, "lxml")

    # Based on the structure of the webpage, I found that data is in the JSON variable, under <script> tags
    scripts = soup.find_all('script')
    
    string_with_json_obj = ''

    # Find data for teams
    for el in scripts:
        if 'teamsData' in str(el):
          string_with_json_obj = str(el).strip()

    # print(string_with_json_obj)

    # strip unnecessary symbols and get only JSON data
    ind_start = string_with_json_obj.index("('")+2
    ind_end = string_with_json_obj.index("')")
    json_data = string_with_json_obj[ind_start:ind_end]
    json_data = json_data.encode('utf8').decode('unicode_escape')
    
    
    # convert JSON data into Python dictionary
    data = json.loads(json_data)
    
    # Get teams and their relevant ids and put them into separate dictionary
    teams = {}
    for id in data.keys():
      teams[id] = data[id]['title']
      
    # EDA to get a feeling of how the JSON is structured
    # Column names are all the same, so we just use first element
    columns = []
    # Check the sample of values per each column
    values = []
    for id in data.keys():
      columns = list(data[id]['history'][0].keys())
      values = list(data[id]['history'][0].values())
      break
      
    # Getting data for all teams
    dataframes = {}
    for id, team in teams.items():
      teams_data = []
      for row in data[id]['history']:
        teams_data.append(list(row.values()))

      df = pd.DataFrame(teams_data, columns=columns)
      dataframes[team] = df
      # print('Added data for {}.'.format(team))
      
    
    for team, df in dataframes.items():
      dataframes[team]['ppda_coef'] = dataframes[team]['ppda'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
      dataframes[team]['oppda_coef'] = dataframes[team]['ppda_allowed'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
      
    cols_to_sum = ['xG', 'xGA', 'npxG', 'npxGA', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'wins', 'draws', 'loses', 'pts', 'npxGD']
    cols_to_mean = ['ppda_coef', 'oppda_coef']
    
    frames = []
    for team, df in dataframes.items():
      sum_data = pd.DataFrame(df[cols_to_sum].sum()).transpose()
      mean_data = pd.DataFrame(df[cols_to_mean].mean()).transpose()
      final_df = sum_data.join(mean_data)
      final_df['team'] = team
      final_df['matches'] = len(df)
      frames.append(final_df)

    full_stat = pd.concat(frames)
    
    full_stat = full_stat[['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'npxG', 'xGA', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts']]
    full_stat.sort_values('pts', ascending=False, inplace=True)
    full_stat.reset_index(inplace=True, drop=True)
    full_stat['position'] = range(1,len(full_stat)+1)
    
    full_stat['xG_diff'] = full_stat['xG'] - full_stat['scored']
    full_stat['xGA_diff'] = full_stat['xGA'] - full_stat['missed']
    full_stat['xpts_diff'] = full_stat['xpts'] - full_stat['pts']
    
    cols_to_int = ['wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'deep', 'deep_allowed']
    full_stat[cols_to_int] = full_stat[cols_to_int].astype(int)
    
    col_order = ['position', 'team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'xG_diff', 'npxG', 'xGA', 'xGA_diff', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts', 'xpts_diff']
    full_stat = full_stat[col_order]
    full_stat = full_stat.set_index('position')
    # print(full_stat.head(20))
    
    season_data[season] = full_stat
  
  df_season = pd.concat(season_data)
  full_data[league] = df_season
  
data = pd.concat(full_data)
data.head()

                                  team  matches  wins  draws  loses  scored  \
             position
La_liga 2018 1               Barcelona       38    26      9      3      90
             2         Atletico Madrid       38    22     10      6      55
             3             Real Madrid       38    21      5     12      63
             4                Valencia       38    15     16      7      51
             5                 Sevilla       38    17      8     13      62

                       missed  pts    xG  xG_diff  ...   xGA  xGA_diff  npxGA  \
             position                              ...
La_liga 2018 1             36   87 83.28    -6.72  ... 44.93      8.93  43.44
             2             29   76 51.87    -3.13  ... 41.43     12.43  37.72
             3             46   68 68.65     5.65  ... 48.68      2.68  42.73
             4             35   61 61.88    10.88  ... 42.85      7.85  36.91
             5             47   59 69.16     7.16  ... 46.71     -0.29  41.51

                       npxGD  ppda_coef  oppda_coef  deep  deep_allowed  xpts  \
             position
La_liga 2018 1         33.14       9.02       16.40   417           171 73.96
             2         11.01      11.07       11.10   252           190 59.43
             3         19.24       8.90       14.78   341           168 64.77
             4         19.66      12.96        9.47   278           215 65.16
             5         23.03      10.65       10.02   321           211 65.08

                       xpts_diff
             position
La_liga 2018 1            -13.04
             2            -16.57
             3             -3.23
             4              4.16
             5              6.08

[5 rows x 21 columns]

## Cleaning up the table
We only want to keep the following columns:
* Position
* Team
* Matches
* Wins
* Draws
* Loses
* Points

In [34]:
data1 = data.drop(['scored', 'missed', 'xG', 'xG_diff','npxG','npxGA','xGA','xGA_diff', 'npxGD', 'ppda_coef','oppda_coef','deep', 'deep_allowed','xpts', 'xpts_diff'], axis=1)
data1

                                   team  matches  wins  draws  loses  pts
             position
La_liga 2018 1                Barcelona       38    26      9      3   87
             2          Atletico Madrid       38    22     10      6   76
             3              Real Madrid       38    21      5     12   68
             4                 Valencia       38    15     16      7   61
             5                  Sevilla       38    17      8     13   59
...                                 ...      ...   ...    ...    ...  ...
RFPL    2022 12         Nizhny Novgorod       14     3      4      7   13
             13        Lokomotiv Moscow       14     3      3      8   12
             14                   Fakel       15     1      9      5   12
             15                  Khimki       14     2      3      9    9
             16          Torpedo Moscow       14     1      3     10    6

[570 rows x 6 columns]

In [36]:
# We only want EPL and 2022
data2 = data1.filter(like='EPL', axis=0)
data2

                                      team  matches  wins  draws  loses  pts
         position
EPL 2018 1                 Manchester City       38    32      2      4   98
         2                       Liverpool       38    30      7      1   97
         3                         Chelsea       38    21      9      8   72
         4                       Tottenham       38    23      2     13   71
         5                         Arsenal       38    21      7     10   70
...                                    ...      ...   ...    ...    ...  ...
    2022 16                    Southampton       12     3      3      6   12
         17                      Leicester       12     3      2      7   11
         18        Wolverhampton Wanderers       12     2      3      7    9
         19                          Leeds       11     2      3      6    9
         20              Nottingham Forest       12     2      3      7    9

[100 rows x 6 columns]

In [42]:
data3=data2.filter(like='2022', axis=0)
data3

                                      team  matches  wins  draws  loses  pts
         position
EPL 2022 1                         Arsenal       11     9      1      1   28
         2                 Manchester City       11     8      2      1   26
         3                       Tottenham       12     7      2      3   23
         4                Newcastle United       12     5      6      1   21
         5                         Chelsea       11     6      3      2   21
         6               Manchester United       11     6      2      3   20
         7                          Fulham       12     5      3      4   18
         8                       Liverpool       11     4      4      3   16
         9                        Brighton       11     4      3      4   15
         10                      Brentford       12     3      5      4   14
         11                       West Ham       12     4      2      6   14
         12                    Bournemouth       12     3      4      5   13
         13                 Crystal Palace       11     3      4      4   13
         14                        Everton       12     3      4      5   13
         15                    Aston Villa       12     3      3      6   12
         16                    Southampton       12     3      3      6   12
         17                      Leicester       12     3      2      7   11
         18        Wolverhampton Wanderers       12     2      3      7    9
         19                          Leeds       11     2      3      6    9
         20              Nottingham Forest       12     2      3      7    9