## Intro

![understat.JPG](images/understat.JPG)

In this notebook I will describe the process of scraping data from web portal [understat.com](https://understat.com) that has a lot of statistical information about all games in top 5 European football leagues.

From [understat.com](https://understat.com) home page:

* Expected goals (xG) is the new revolutionary football metric, which allows you to evaluate team and player performance.

* In a low-scoring game such as football, final match score does not provide a clear picture of performance.

* This is why more and more sports analytics turn to the advanced models like xG, which is a statistical measure of the quality of chances created and conceded.

* Our goal was to create the most precise method for shot quality evaluation.

* For this case, we trained neural network prediction algorithms with the large dataset (>100,000 shots, over 10 parameters for each).

* On this site, you will find our detailed xG statistics for the top European leagues.

At this moment they have not only xG metric, but much more, that makes this site perfect for scraping statistical data about football games.

We start by importing libraries that will be used in this project:
* numpy - fundamental package for scientific computing with Python
* pandas - library providing high-performance, easy-to-use data structures and data analysis tools
* requests - is the only Non-GMO HTTP library for Python, safe for human consumption. (love this line from official docs :D)
* BeautifulSoup - a Python library for pulling data out of HTML and XML files.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests

In [4]:
!pip install bs4

Defaulting to user installation because normal site-packages is not writeable
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=4581f5fe4f7b21cc7bb95fd1de7aabb7a3d27a3b917278243c48a347d301f1c4
  Stored in directory: c:\users\rich7648\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.11.1 bs4-0.0.1 soupsieve-2.3.2.post1

In [8]:
!pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\users\rich7648\appdata\roaming\python\python39\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rich7648\appdata\roaming\python\python39\site-packages (from beautifulsoup4) (2.3.2.post1)

In [2]:
from bs4 import BeautifulSoup

## Website research and structure of data

On the home page we can notice that the site has data for 6 European Leagues:

![leagues.jpg](images/leagues.jpg)

*   La Liga
*   EPL
*   BundesLiga
*   Serie A
*   Ligue 1
*   RFPL

And we also see that the collected starting from season 2014/2015. Another notion we make is the structure of URL. It is '`https://understat.com/league'` + '`/name_of_the_league`' + '`/year_start_of_the_season`'

![seasons.jpg](images/seasons.jpg)

So we create global variables with this data to be able to select any of those.

In [3]:
# create urls for all seasons of all leagues
base_url = 'https://understat.com/league'
leagues = ['La_liga', 'EPL', 'Bundesliga', 'Serie_A', 'Ligue_1', 'RFPL']
#seasons = ['2014', '2015', '2016', '2017', '2018']
seasons = ['2018','2019','2020', '2021', '2022']

Next step is to understan where the data is located on the web-page. For this we open Developer Tools in Chrome, go to tab "Network", find file with data (in this case 2018) and check the "Response" tab. This is what we will get after running *requests.get(URL)*

![requests_response_1.jpg](images/requests_response_1.jpg)

After going through content of the web-page we find that the data is stored under "script" tag and it is JSON encoded. So we will need to find this tag, get JSON from it and convert it into Python readable data structure.

![requests_response_2.jpg](images/requests_response_2.jpg)

In [4]:
# Starting with latest data for Spanish league, because I'm a Barcelona fan
url = base_url+'/'+leagues[0]+'/'+seasons[4]
res = requests.get(url)
soup = BeautifulSoup(res.content, "lxml")

# Based on the structure of the webpage, I found that data is in the JSON variable, under <script> tags
scripts = soup.find_all('script')

# Check our <script> tags
# for el in scripts:
#   print('*'*50)
#   print(el.text)

### Working with JSON

We found that the data interesting us is stored in teamsData variable, after creating a soup of html tags it becomes just a string, so we find that text and extract JSON from it.

In [5]:
import json

string_with_json_obj = ''

# Find data for teams
for el in scripts:
    if 'teamsData' in str(el):
      string_with_json_obj = str(el).strip()
      
# print(string_with_json_obj)

# strip unnecessary symbols and get only JSON data
ind_start = string_with_json_obj.index("('")+2
ind_end = string_with_json_obj.index("')")
json_data = string_with_json_obj[ind_start:ind_end]

json_data = json_data.encode('utf8').decode('unicode_escape')

Once we have gotten our JSON and cleaned it up we can convert it into Python dictionary and check how it looks (uncomment print statement to do that).

### Understanding data with Python

In [6]:
# convert JSON data into Python dictionary
data = json.loads(json_data)
print(data.keys())
print('='*50)
print(data['138'].keys())
print('='*50)
print(data['138']['id'])
print('='*50)
print(data['138']['title'])
print('='*50)
print(data['138']['history'][0])

# Print pretty JSON data to check out what we have there
# s = json.dumps(data, indent=4, sort_keys=True)
# print(s)

dict_keys(['138', '140', '141', '142', '143', '145', '146', '147', '148', '150', '152', '153', '154', '157', '207', '208', '223', '231', '239', '261'])
==================================================
dict_keys(['id', 'title', 'history'])
==================================================
138
==================================================
Sevilla
==================================================
{'h_a': 'a', 'xG': 0.965574, 'xGA': 1.35571, 'npxG': 0.965574, 'npxGA': 0.612433, 'ppda': {'att': 142, 'def': 20}, 'ppda_allowed': {'att': 347, 'def': 22}, 'deep': 8, 'deep_allowed': 4, 'scored': 1, 'missed': 2, 'xpts': 0.9575999999999999, 'result': 'l', 'date': '2022-08-12 19:00:00', 'wins': 0, 'draws': 0, 'loses': 1, 'pts': 0, 'npxGD': 0.35314100000000004}

If you want to check how the entire <code>data</code> looks, just uncomment respective lines. (it is commented for the sake of saving screen space and do not oversaturate the view of notebook).

When we start to research the <code>data</code> we understand that this is a dictionary of dictionaries of 3 keys: *`id`*, *`title`* and *`history`*. The first layer of dictionary uses ids as keys too.

Also from this we understand that *`history`* has data regarding every single match the team played in its own league (League Cup or Champions League games are not included).

We can gather teams names if go over the first layer dictionary.

In [7]:
# Get teams and their relevant ids and put them into separate dictionary
teams = {}
for id in data.keys():
  teams[id] = data[id]['title']

The *`history`* is the array of dictionaries where keys are names of metrics (read column names) and values are values, despite how tautological is that :D.

We understand that column names repeat over and over again so we add them to separate list. Also checking how the sample values look like.

In [8]:
# EDA to get a feeling of how the JSON is structured
# Column names are all the same, so we just use first element
columns = []
# Check the sample of values per each column
values = []
for id in data.keys():
  columns = list(data[id]['history'][0].keys())
  values = list(data[id]['history'][0].values())
  break

print(columns)
print(values)

['h_a', 'xG', 'xGA', 'npxG', 'npxGA', 'ppda', 'ppda_allowed', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'result', 'date', 'wins', 'draws', 'loses', 'pts', 'npxGD']
['a', 0.965574, 1.35571, 0.965574, 0.612433, {'att': 142, 'def': 20}, {'att': 347, 'def': 22}, 8, 4, 1, 2, 0.9575999999999999, 'l', '2022-08-12 19:00:00', 0, 0, 1, 0, 0.35314100000000004]

Found that Sevilla has the id=138, so getting all the data for this team to be able to reproduce the same steps for all teams in the league.

In [9]:
sevilla_data = []
for row in data['138']['history']:
  sevilla_data.append(list(row.values()))
  
df = pd.DataFrame(sevilla_data, columns=columns)
df.head(2)

,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD
0,a,0.965574,1.355710,0.965574,0.612433,"{'att': 142, 'def': 20}","{'att': 347, 'def': 22}",8,4,1,2,0.9576,l,2022-08-12 19:00:00,0,0,1,0,0.353141
1,h,1.951150,0.557629,1.951150,0.557629,"{'att': 159, 'def': 32}","{'att': 251, 'def': 21}",4,1,1,1,2.4412,d,2022-08-19 20:00:00,0,1,0,1,1.393521

Wualya! We have the data for all matches of Sevilla in season 2018-2019 within La Liga!

Now we want to do that for all Spanish teams. Let's loop through that bites baby!

In [10]:
# Getting data for all teams
dataframes = {}
for id, team in teams.items():
  teams_data = []
  for row in data[id]['history']:
    teams_data.append(list(row.values()))
    
  df = pd.DataFrame(teams_data, columns=columns)
  dataframes[team] = df
  print('Added data for {}.'.format(team))

Added data for Sevilla.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Rayo Vallecano.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Real Madrid.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Osasuna.
Added data for Elche.
Added data for Almeria.
Added data for Girona.
Added data for Real Valladolid.
Added data for Mallorca.
Added data for Cadiz.

Now we have a dictionary of DataFrames where key is the name of the team and value is the DataFrame with all games of that team.

In [11]:
# Sample check of our newly created DataFrame
dataframes['Barcelona'].head(5)

,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD
0,h,1.37129,0.771530,1.37129,0.771530,"{'att': 146, 'def': 33}","{'att': 351, 'def': 30}",11,3,0,0,1.8110,d,2022-08-13 19:00:00,0,1,0,1,0.599760
1,a,2.04035,0.799130,2.04035,0.799130,"{'att': 218, 'def': 26}","{'att': 341, 'def': 28}",9,4,4,1,2.2957,w,2022-08-21 20:00:00,1,0,0,3,1.241220
2,h,3.28674,0.720063,3.28674,0.720063,"{'att': 182, 'def': 24}","{'att': 295, 'def': 13}",21,2,4,0,2.7808,w,2022-08-28 17:30:00,1,0,0,3,2.566677
3,a,4.67838,0.829157,4.67838,0.829157,"{'att': 202, 'def': 23}","{'att': 237, 'def': 31}",8,8,3,0,2.9625,w,2022-09-03 19:00:00,1,0,0,3,3.849223
4,a,2.66856,0.248180,2.66856,0.248180,"{'att': 99, 'def': 17}","{'att': 297, 'def': 25}",9,1,4,0,2.8680,w,2022-09-10 16:30:00,1,0,0,3,2.420380

### Manipulations to make data as in the original source

We can notice that here such metrics as PPDA and OPPDA (ppda and ppda_allowed) are represented as total amounts of attacking/defensive actions, but in the original table it is shown as coeficcient. Let's fix that!

In [12]:
for team, df in dataframes.items():
  dataframes[team]['ppda_coef'] = dataframes[team]['ppda'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
  dataframes[team]['oppda_coef'] = dataframes[team]['ppda_allowed'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
  
# And check how our new dataframes look based on Sevilla dataframe
dataframes['Sevilla'].head(2)

,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,scored,...,xpts,result,date,wins,draws,loses,pts,npxGD,ppda_coef,oppda_coef
0,a,0.965574,1.355710,0.965574,0.612433,"{'att': 142, 'def': 20}","{'att': 347, 'def': 22}",8,4,1,...,0.9576,l,2022-08-12 19:00:00,0,0,1,0,0.353141,7.10000,15.772727
1,h,1.951150,0.557629,1.951150,0.557629,"{'att': 159, 'def': 32}","{'att': 251, 'def': 21}",4,1,1,...,2.4412,d,2022-08-19 20:00:00,0,1,0,1,1.393521,4.96875,11.952381

Now we have all our numbers, but for every single game. What we need is the totals for the team. Let's find out the columns we have to sum up. For this we go back to original table at [understat.com](https://understat.com/league/La_liga/2018) and we find that all metrics shoud be summed up and only PPDA and OPPDA are means in the end.

In [13]:
cols_to_sum = ['xG', 'xGA', 'npxG', 'npxGA', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'wins', 'draws', 'loses', 'pts', 'npxGD']
cols_to_mean = ['ppda_coef', 'oppda_coef']

We are ready to calculate our totals and means. For this we loop through dictionary of dataframes and call .sum() and .mean() DataFrame methods that return Series, that's why we add .transpose() to those calls. We put these new DataFrames into a list and after that concat them into a new DataFrame `full_stat`

In [14]:
frames = []
for team, df in dataframes.items():
  sum_data = pd.DataFrame(df[cols_to_sum].sum()).transpose()
  mean_data = pd.DataFrame(df[cols_to_mean].mean()).transpose()
  final_df = sum_data.join(mean_data)
  final_df['team'] = team
  final_df['matches'] = len(df)
  frames.append(final_df)
  
full_stat = pd.concat(frames)

Next we reorder columns for better readability, sort rows based on points, reset index and add column 'position'.

In [15]:
full_stat = full_stat[['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'npxG', 'xGA', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts']]
full_stat.sort_values('pts', ascending=False, inplace=True)
full_stat.reset_index(inplace=True, drop=True)
full_stat['position'] = range(1,len(full_stat)+1)

Also in the original table we have values of differences between expected metrics and real. Let's add those too.

In [16]:
full_stat['xG_diff'] = full_stat['xG'] - full_stat['scored']
full_stat['xGA_diff'] = full_stat['xGA'] - full_stat['missed']
full_stat['xpts_diff'] = full_stat['xpts'] - full_stat['pts']

Converting floats to integers where apropriate

In [17]:
cols_to_int = ['wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'deep', 'deep_allowed']
full_stat[cols_to_int] = full_stat[cols_to_int].astype(int)

Prettifying output and final view of a DataFrame

In [18]:
col_order = ['position','team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'xG_diff', 'npxG', 'xGA', 'xGA_diff', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts', 'xpts_diff']
full_stat = full_stat[col_order]
pd.options.display.float_format = '{:,.2f}'.format
full_stat.head(10)

,position,team,matches,wins,draws,loses,scored,missed,pts,xG,...,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,1,Real Madrid,6,6,0,0,17,6,18,15.27,...,6.14,0.14,5.40,8.27,13.43,18.94,66,34,13.56,-4.44
1,2,Athletic Club,7,5,1,1,16,4,16,14.77,...,4.30,0.30,4.30,8.24,10.70,12.41,59,26,16.16,0.16
2,3,Barcelona,6,5,1,0,18,1,16,19.22,...,3.38,2.38,3.38,15.84,6.46,16.06,76,19,15.72,-0.28
3,4,Real Betis,6,5,0,1,10,4,15,10.16,...,9.67,5.67,9.67,-1.74,10.43,10.43,23,42,8.25,-6.75
4,5,Atletico Madrid,7,4,1,2,12,6,13,11.44,...,8.29,2.29,8.29,3.15,17.30,11.75,47,39,11.74,-1.26
5,6,Villarreal,7,3,3,1,10,2,12,14.07,...,6.05,4.05,6.05,8.02,10.58,11.19,56,23,14.84,2.84
6,7,Osasuna,6,4,0,2,7,5,12,11.64,...,4.27,-0.73,4.27,5.14,12.56,12.04,35,23,12.87,0.87
7,8,Real Sociedad,6,3,1,2,7,8,10,10.69,...,8.18,0.18,7.43,2.51,7.04,12.86,50,22,9.85,-0.15
8,9,Valencia,6,3,0,3,10,5,9,10.23,...,6.04,1.04,6.04,3.45,7.41,11.86,32,26,11.11,2.11
9,10,Mallorca,6,2,2,2,6,7,8,5.62,...,8.30,1.30,6.07,-0.45,12.46,8.84,16,38,6.30,-1.70

Original table

![full_table.JPG](images/full_table.JPG)

## Scrapping data for all teams of all leagues of all seasons

Testing the flow before going full into the process

In [19]:
season_data = dict()
season_data[seasons[4]] = full_stat
print(season_data)
full_data = dict()
full_data[leagues[0]] = season_data
print(full_data)

{'2022':     position             team  matches  wins  draws  loses  scored  missed  \
0          1      Real Madrid        6     6      0      0      17       6
1          2    Athletic Club        7     5      1      1      16       4
2          3        Barcelona        6     5      1      0      18       1
3          4       Real Betis        6     5      0      1      10       4
4          5  Atletico Madrid        7     4      1      2      12       6
5          6       Villarreal        7     3      3      1      10       2
6          7          Osasuna        6     4      0      2       7       5
7          8    Real Sociedad        6     3      1      2       7       8
8          9         Valencia        6     3      0      3      10       5
9         10         Mallorca        6     2      2      2       6       7
10        11       Celta Vigo        6     2      1      3       8      13
11        12           Girona        6     2      1      3       7       7
12        13           Getafe        7     2      1      4       8      15
13        14   Rayo Vallecano        6     2      1      3       7       8
14        15  Real Valladolid        7     2      1      4       6      13
15        16          Sevilla        7     1      2      4       7      13
16        17          Almeria        7     1      1      5       4      11
17        18         Espanyol        6     1      1      4       7      12
18        19            Cadiz        7     1      1      5       1      14
19        20            Elche        6     0      1      5       2      16

    pts    xG  ...   xGA  xGA_diff  npxGA  npxGD  ppda_coef  oppda_coef  deep  \
0    18 15.27  ...  6.14      0.14   5.40   8.27      13.43       18.94    66
1    16 14.77  ...  4.30      0.30   4.30   8.24      10.70       12.41    59
2    16 19.22  ...  3.38      2.38   3.38  15.84       6.46       16.06    76
3    15 10.16  ...  9.67      5.67   9.67  -1.74      10.43       10.43    23
4    13 11.44  ...  8.29      2.29   8.29   3.15      17.30       11.75    47
5    12 14.07  ...  6.05      4.05   6.05   8.02      10.58       11.19    56
6    12 11.64  ...  4.27     -0.73   4.27   5.14      12.56       12.04    35
7    10 10.69  ...  8.18      0.18   7.43   2.51       7.04       12.86    50
8     9 10.23  ...  6.04      1.04   6.04   3.45       7.41       11.86    32
9     8  5.62  ...  8.30      1.30   6.07  -0.45      12.46        8.84    16
10    7  5.70  ...  8.27     -4.73   5.91  -0.96      10.84       10.55    38
11    7  7.25  ...  6.10     -0.90   4.61   1.90      10.17       10.58    33
12    7  7.69  ... 10.84     -4.16  10.10  -3.90      13.79        8.42    14
13    7  6.15  ... 10.66      2.66  10.66  -4.51       9.35       11.10    25
14    7  8.08  ... 12.76     -0.24  12.02  -4.68      10.17        8.37    30
15    5  8.24  ... 15.34      2.34  13.85  -5.61       7.94       13.70    43
16    4  5.32  ... 13.18      2.18  12.44  -7.12      14.98       13.67    23
17    4  8.34  ... 10.02     -1.98  10.02  -3.16      14.12       10.26    30
18    4  3.62  ... 16.35      2.35  14.12 -10.50      12.30        8.78    13
19    1  3.41  ... 18.78      2.78  17.29 -13.88      15.56        7.35    23

    deep_allowed  xpts  xpts_diff
0             34 13.56      -4.44
1             26 16.16       0.16
2             19 15.72      -0.28
3             42  8.25      -6.75
4             39 11.74      -1.26
5             23 14.84       2.84
6             23 12.87       0.87
7             22  9.85      -0.15
8             26 11.11       2.11
9             38  6.30      -1.70
10            23  6.72      -0.28
11            25  8.90       1.90
12            46  7.50       0.50
13            32  5.92      -1.08
14            59  7.07       0.07
15            45  6.05       1.05
16            59  4.78       0.78
17            44  7.25       3.25
18            51  2.20      -1.80
19            56  2.30       1.30

[20 rows x 22 columns]}
{'La_liga': {'2022':     position             team  matches  wins  draws  loses  scored  missed  \
0          1      Real Madrid        6     6      0      0      17       6
1          2    Athletic Club        7     5      1      1      16       4
2          3        Barcelona        6     5      1      0      18       1
3          4       Real Betis        6     5      0      1      10       4
4          5  Atletico Madrid        7     4      1      2      12       6
5          6       Villarreal        7     3      3      1      10       2
6          7          Osasuna        6     4      0      2       7       5
7          8    Real Sociedad        6     3      1      2       7       8
8          9         Valencia        6     3      0      3      10       5
9         10         Mallorca        6     2      2      2       6       7
10        11       Celta Vigo        6     2      1      3       8      13
11        12           Girona        6     2      1      3       7       7
12        13           Getafe        7     2      1      4       8      15
13        14   Rayo Vallecano        6     2      1      3       7       8
14        15  Real Valladolid        7     2      1      4       6      13
15        16          Sevilla        7     1      2      4       7      13
16        17          Almeria        7     1      1      5       4      11
17        18         Espanyol        6     1      1      4       7      12
18        19            Cadiz        7     1      1      5       1      14
19        20            Elche        6     0      1      5       2      16

    pts    xG  ...   xGA  xGA_diff  npxGA  npxGD  ppda_coef  oppda_coef  deep  \
0    18 15.27  ...  6.14      0.14   5.40   8.27      13.43       18.94    66
1    16 14.77  ...  4.30      0.30   4.30   8.24      10.70       12.41    59
2    16 19.22  ...  3.38      2.38   3.38  15.84       6.46       16.06    76
3    15 10.16  ...  9.67      5.67   9.67  -1.74      10.43       10.43    23
4    13 11.44  ...  8.29      2.29   8.29   3.15      17.30       11.75    47
5    12 14.07  ...  6.05      4.05   6.05   8.02      10.58       11.19    56
6    12 11.64  ...  4.27     -0.73   4.27   5.14      12.56       12.04    35
7    10 10.69  ...  8.18      0.18   7.43   2.51       7.04       12.86    50
8     9 10.23  ...  6.04      1.04   6.04   3.45       7.41       11.86    32
9     8  5.62  ...  8.30      1.30   6.07  -0.45      12.46        8.84    16
10    7  5.70  ...  8.27     -4.73   5.91  -0.96      10.84       10.55    38
11    7  7.25  ...  6.10     -0.90   4.61   1.90      10.17       10.58    33
12    7  7.69  ... 10.84     -4.16  10.10  -3.90      13.79        8.42    14
13    7  6.15  ... 10.66      2.66  10.66  -4.51       9.35       11.10    25
14    7  8.08  ... 12.76     -0.24  12.02  -4.68      10.17        8.37    30
15    5  8.24  ... 15.34      2.34  13.85  -5.61       7.94       13.70    43
16    4  5.32  ... 13.18      2.18  12.44  -7.12      14.98       13.67    23
17    4  8.34  ... 10.02     -1.98  10.02  -3.16      14.12       10.26    30
18    4  3.62  ... 16.35      2.35  14.12 -10.50      12.30        8.78    13
19    1  3.41  ... 18.78      2.78  17.29 -13.88      15.56        7.35    23

    deep_allowed  xpts  xpts_diff
0             34 13.56      -4.44
1             26 16.16       0.16
2             19 15.72      -0.28
3             42  8.25      -6.75
4             39 11.74      -1.26
5             23 14.84       2.84
6             23 12.87       0.87
7             22  9.85      -0.15
8             26 11.11       2.11
9             38  6.30      -1.70
10            23  6.72      -0.28
11            25  8.90       1.90
12            46  7.50       0.50
13            32  5.92      -1.08
14            59  7.07       0.07
15            45  6.05       1.05
16            59  4.78       0.78
17            44  7.25       3.25
18            51  2.20      -1.80
19            56  2.30       1.30

[20 rows x 22 columns]}}

Putting all the previous code into loops to get all data.

In [20]:
full_data = dict()
for league in leagues:
  
  season_data = dict()
  for season in seasons:    
    url = base_url+'/'+league+'/'+season
    res = requests.get(url)
    soup = BeautifulSoup(res.content, "lxml")

    # Based on the structure of the webpage, I found that data is in the JSON variable, under <script> tags
    scripts = soup.find_all('script')
    
    string_with_json_obj = ''

    # Find data for teams
    for el in scripts:
        if 'teamsData' in str(el):
          string_with_json_obj = str(el).strip()

    # print(string_with_json_obj)

    # strip unnecessary symbols and get only JSON data
    ind_start = string_with_json_obj.index("('")+2
    ind_end = string_with_json_obj.index("')")
    json_data = string_with_json_obj[ind_start:ind_end]
    json_data = json_data.encode('utf8').decode('unicode_escape')
    
    
    # convert JSON data into Python dictionary
    data = json.loads(json_data)
    
    # Get teams and their relevant ids and put them into separate dictionary
    teams = {}
    for id in data.keys():
      teams[id] = data[id]['title']
      
    # EDA to get a feeling of how the JSON is structured
    # Column names are all the same, so we just use first element
    columns = []
    # Check the sample of values per each column
    values = []
    for id in data.keys():
      columns = list(data[id]['history'][0].keys())
      values = list(data[id]['history'][0].values())
      break
      
    # Getting data for all teams
    dataframes = {}
    for id, team in teams.items():
      teams_data = []
      for row in data[id]['history']:
        teams_data.append(list(row.values()))

      df = pd.DataFrame(teams_data, columns=columns)
      dataframes[team] = df
      # print('Added data for {}.'.format(team))
      
    
    for team, df in dataframes.items():
      dataframes[team]['ppda_coef'] = dataframes[team]['ppda'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
      dataframes[team]['oppda_coef'] = dataframes[team]['ppda_allowed'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
      
    cols_to_sum = ['xG', 'xGA', 'npxG', 'npxGA', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'wins', 'draws', 'loses', 'pts', 'npxGD']
    cols_to_mean = ['ppda_coef', 'oppda_coef']
    
    frames = []
    for team, df in dataframes.items():
      sum_data = pd.DataFrame(df[cols_to_sum].sum()).transpose()
      mean_data = pd.DataFrame(df[cols_to_mean].mean()).transpose()
      final_df = sum_data.join(mean_data)
      final_df['team'] = team
      final_df['matches'] = len(df)
      frames.append(final_df)

    full_stat = pd.concat(frames)
    
    full_stat = full_stat[['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'npxG', 'xGA', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts']]
    full_stat.sort_values('pts', ascending=False, inplace=True)
    full_stat.reset_index(inplace=True, drop=True)
    full_stat['position'] = range(1,len(full_stat)+1)
    
    full_stat['xG_diff'] = full_stat['xG'] - full_stat['scored']
    full_stat['xGA_diff'] = full_stat['xGA'] - full_stat['missed']
    full_stat['xpts_diff'] = full_stat['xpts'] - full_stat['pts']
    
    cols_to_int = ['wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'deep', 'deep_allowed']
    full_stat[cols_to_int] = full_stat[cols_to_int].astype(int)
    
    col_order = ['position', 'team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'xG_diff', 'npxG', 'xGA', 'xGA_diff', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts', 'xpts_diff']
    full_stat = full_stat[col_order]
    full_stat = full_stat.set_index('position')
    # print(full_stat.head(20))
    
    season_data[season] = full_stat
  
  df_season = pd.concat(season_data)
  full_data[league] = df_season
  
data = pd.concat(full_data)
data.head()

                                  team  matches  wins  draws  loses  scored  \
             position
La_liga 2018 1               Barcelona       38    26      9      3      90
             2         Atletico Madrid       38    22     10      6      55
             3             Real Madrid       38    21      5     12      63
             4                Valencia       38    15     16      7      51
             5                 Sevilla       38    17      8     13      62

                       missed  pts    xG  xG_diff  ...   xGA  xGA_diff  npxGA  \
             position                              ...
La_liga 2018 1             36   87 83.28    -6.72  ... 44.93      8.93  43.44
             2             29   76 51.87    -3.13  ... 41.43     12.43  37.72
             3             46   68 68.65     5.65  ... 48.68      2.68  42.73
             4             35   61 61.88    10.88  ... 42.85      7.85  36.91
             5             47   59 69.16     7.16  ... 46.71     -0.29  41.51

                       npxGD  ppda_coef  oppda_coef  deep  deep_allowed  xpts  \
             position
La_liga 2018 1         33.14       9.02       16.40   417           171 73.96
             2         11.01      11.07       11.10   252           190 59.43
             3         19.24       8.90       14.78   341           168 64.77
             4         19.66      12.96        9.47   278           215 65.16
             5         23.03      10.65       10.02   321           211 65.08

                       xpts_diff
             position
La_liga 2018 1            -13.04
             2            -16.57
             3             -3.23
             4              4.16
             5              6.08

[5 rows x 21 columns]

## Exporting data to CSV file

In [21]:
data.to_csv('understat.com_3.csv')